text {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  fill: #fff;
}

.regular {
  font-weight: 400;
}

.semi-bold {
  font-weight: 500;
}

.bold {
  font-weight: 600;
  font-size: 20px;
}

.resume {
  font-family: "Arial";
  font-weight: 400;
}
